footer {
  background-color: #f2f2f2;
  padding: 1vw 10vw 0vw;
  position: relative;
  text-align: center;
  height: 36vw;
}

footer p {
  font-family: 'Nixie One', cursive;
  color: #fb6d45;
  font-size: 11vw;
  margin: 10vw 0 5vw;
}

footer img {
  width: 7%;
  margin-left: 80vw;
  margin-bottom: 2vw;
}


