footer {
  background-color: #f2f2f2;
  padding: 1vw 10vw 0vw;
  position: relative;
  text-align: center;
}

footer .goodreader {
  font-family: 'Nixie One', cursive;
  color: #4d4d4d;
  font-size: 9vw;
  margin: 5vw 0 8vw;
}

footer .buy {
  font-family: 'Slackey', cursive;
  color: #fb6d45;
  font-size: 3.8vw;
  margin: 5vw 0 12vw;
}

footer .bookstores {
  font-family: 'Nixie One', cursive;
  margin: -10vw 0 15vw;
  display: inline-block;
  width: 62%;
}

footer .cultura {
  float: left;
}

footer .chiado {
  float: right;
}

footer .bookstores a:before {
  content: url("../img/cart.svg");
}

footer .bookstores a {
  color: #fb6d45;
  font-size: 2vw;
  font-weight: bold;
}

footer .bookstores a:link {
  text-decoration: none;
}

footer .bookstores a:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

footer img {
  width: 7%;
  margin-left: 80vw;
  margin-bottom: 2vw;
}

footer .container {
  position: relative;
  margin-right: -9vw;
}

footer .social li a {
  height: 15vw;
  width: 6vw;
  display: block;
  text-indent: -9999vw;
  background-repeat: no-repeat;
  vertical-align: center;
}

  footer .social li a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

  footer .social a[href*="facebook.com"] {
  background-image: url(../img/facebook.svg);
  background-size: 5vw;
}

  footer .social a[href*="gmail.com"] {
  background-image: url(../img/email.svg);
  background-size: 5.3vw;
}
  
  footer .social {
  position: absolute;
  bottom: 0.6vw;
  left: 27.2vw;
}

  footer .social li {
  float: left;
  margin-left: 3vw;
}


