header {
  position: relative;
  background-color: #4c2b3c;
  padding: 2vw 0 10.2vw;
}

header .band {
  font-family: 'Nixie One', cursive;
  text-align: center;
  color: #4d4d4d;
  font-size: 2.4vw;
  background-color: #f2f2f2;
}
header .band p {
  line-height: 6.6vw;
}

header h1 {
  font-family: 'Nixie One', cursive;
  text-align: center;
  color: #63aea7;
  font-size: 6.4vw;
  font-weight: 300;
  margin: 4.6vw 0 0;
}

header h1 span {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  color: #fb6d45;
}

header h2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  font-family: 'Slackey', cursive;
  text-align: center;
  color: #f2f2f2;
  font-size: 2.8vw;
  font-weight: 300;
  margin: 1vw 0 0;
}

header .down img {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: "FlipV";
  filter: FlipV;
  width: 5%;
  margin-left: 91vw;
  margin-bottom: -9vw;
}

header .arrow-down-1 {
  position: absolute;
  width: 0vw;
  left: calc(50% - 2vw);
  bottom: -2.4vw;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2.5vw solid #4c2b3c;
  z-index: 1;
}
