header {
	height: 460px;
	position: relative;
 	background-color: #4c2b3c;
 	padding-top: 40px;
 	line-height: 80px;
 }

header p {
	font-family: 'Nixie One', cursive;
	text-align: center;
	color: #fb6d45;
	font-size: 1.9em;
	background-color: lightgray;
	}

header h1 {
	font-family: 'Nixie One', cursive;
	text-align: center;
	color: #63aea7;
	font-size: 5.0em;
	height: 12%;
	padding-top: 30px;
	margin-top: 15px;
}

header h2 {
	font-family: 'Slackey', cursive;
	text-align: center;
	color: #f2f2f2;
	font-size: 2.3em;
	}

header h1 span {
	color: #fb6d45;
}

.arrow-down {
  position: absolute;
  width: 0px;
  left: calc(50% - 22px);
  bottom: -30px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 30px solid #4c2b3c;
}



	




