#page4 {
	background-color: #f8b948;
  padding: 2vw 10vw;
  position: relative;
  text-align: center;
}

#page4 h1 {
  font-family: 'Slackey', cursive;
  font-size: 7vw;
  color: #4c2b3c;
  float: left;
  margin-top: -25vw;
  margin-left: 4vw;
  width: 52%;
}

#page4 .readers {
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 2.4vw;
  float: right;
  width: 33%;
  margin-top: -22.8vw;
  padding-right: 7vw;
  text-align: left;
}

#page4 .map {
  width: 72%;
  margin-top: -8vw;
  margin-right: 2.2vw;
}

#page4 .flag-2 {
  width: 100%;
  margin-top: 4vw;  
}

#page4 .travel {
  position: absolute;
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 2vw;
  margin-top: -8vw;
  margin-left: 12.2vw;
}

#page4 nav ul {
  list-style: none;
  position: absolute;
  bottom: 23vw;
  right: 10vw;
}

#page4 nav li a {
  display: block;
  margin-bottom: 2.5vw;
  border: 0.3vw solid #f2f2f2;
  border-radius: 100%;
  width: 1.4vw;
  height: 1.4vw;
}

#page4 nav li.active a, #page3 nav li:hover a {
  background-color: #f2f2f2;
}


