section.page2 {
 background-color: #63aea7;
 height: 1200px;
 margin-top: -60px;
 }

.streamer {
  position: relative;
  }

.streamer img {
  position: absolute;
  width: 1120px;
  top: 160px;
  left: 105px;
  }

.streamer p {
  position: absolute;
  font-size: 4.0em;
  font-family: 'Nixie One', cursive;
  color: #f2f2f2; 
  top: 140px;
  left: 400px;
  }

.graphical {
  position: absolute;
  }

.graphical img {
  width: 620px;
  height: 620px;
  top: 380px;
  left: 330px;
  }

.menu {
  list-style: none;
  float: right;
  margin-right: 110px;
  margin-top: 450px;
  }

.menu li {
  border: 3px solid #f2f2f2;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  list-style-type: none;
  }

.menu ul li:first-child {
  background-color: #f2f2f2;
  }

.dog img {
  width: 200px;
  height: 200px;
  top: 835px;
  left: 1060px;
  }



