#page3 {
  background-color: #f8b948;
  padding: 30vw 10vw 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#page3 .clock {
  position: absolute;
  width: 18%;
  top: 10vw;
  left: 29vw;
  display: none;
}

#page3 .minutes-pointer {
  position: absolute;
  top: 17.8vw;
  left: 33.5vw;
  width: 9vw;
  height: 0.3vw;
  display: none;
}
#page3 .minutes-pointer span {
  display: block;
  background-color: #4C2B3B;
  width: 50%;
  height: 100%;
}

#page3 .hours-pointer {
  position: absolute;
  top: 17.8vw;
  left: 34.3vw;
  width: 7.5vw;
  height: 0.3vw;
  display: none;
}
#page3 .hours-pointer span {
  display: block;
  background-color: #4C2B3B;
  width: 50%;
  height: 100%;
}

#page3 .hours-amount {
  position: absolute;
  top: 6.8vw;
  left: 49.8vw;
  font-family: 'Slackey', cursive;
  color: #f2f2f2;
  font-size: 11vw;
  margin: 0;
  display: none;
}

#page3 .hours {
  position: absolute;
  top: 18.3vw;
  left: 51.3vw;
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 7vw;
  margin: 0;
  display: none;
}

#page3 .write {
  position: absolute;
  top: 27.2vw;
  left: 29.8vw;
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 4vw;
  margin: 0;
  display: none;
}

#page3 .dumbo-peeing {
  position: absolute;
  top: 39.5vw;
  left: 34.5vw;
  width: 31%;
  display: none;
}

#page3 .pee {
  border-left: dashed .4vw #D18F30;
  border-top-left-radius: 120px;
  position: absolute;
  top: 56vw;
  left: 48.6vw;
  height: 9vw;
  width: 9vw;
  display: none;
}

#page3 .hydrant {
  position: absolute;
  top: 48.8vw;
  left: 51.2vw;
  width: 13.5%;
}

#page3 .flag-2 {
  margin-top: 32.7vw;
  width: 100%;
}

#page3 .equivalent {
  position: absolute;
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 1.8vw;
  top: 66.5vw;
  left: 20.5vw;
  margin: 0;
  line-height: 6.8vw;
}

#page3 .numbers {
  font-size: 5vw;
  color: #63aea7;
  font-family: 'Slackey', cursive;
  padding: 0 2vw;
  vertical-align: middle;
}

#page3 nav ul {
  list-style: none;
  position: absolute;
  top: 30vw;
  right: 10vw;
}

#page3 nav li a {
  display: block;
  margin-bottom: 2.5vw;
  border: 0.3vw solid #f2f2f2;
  border-radius: 100%;
  width: 1.4vw;
  height: 1.4vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#page3 nav li.active a, #page3 nav li:hover a {
  background-color: #f2f2f2;
}

#page3 hr {
  margin: 3vw 0 0;
  border-style: solid;
  border-color: #fff;
}

