#page4 {
  background-color: #f8b948;
  padding: 2vw 10vw;
  position: relative;
  text-align: center;
}

#page4 .kilometers {
  font-family: 'Slackey', cursive;
  font-size: 8vw;
  color: #4c2b3c;
  position: absolute;
  top: 0vw;
  left: 13vw;
  display: none;
}

#page4 .readers {
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 2.8vw;
  text-align: left;
  position: absolute;
  top: 7.5vw;
  left: 59vw;
  width: 32vw;
  display: none;
}

#page4 .map {
  position: absolute;
  top: 23.3vw;
  left: 17vw;
  width: 66%;
  display: none;
}

#page4 .map-line {
  border-right: dashed .3vw #63AEA7;
  border-top: dashed .3vw #63AEA7;
  border-top-right-radius: 220px;
  position: absolute;
  top: 30.5vw;
  left: 23vw;
  height: 17vw;
  width: 18.5vw;
  display: none;
}
#page4 .map-line:before {
  content: "";
  background-color: #63AEA7;
  border-radius: 100%;
  position: absolute;
  bottom: -1.2vw;
  right: -0.6vw;
  width: 1vw;
  height: 1vw;
}
#page4 .map-line:after {
  content: "";
  background-color: #63AEA7;
  border-radius: 100%;
  position: absolute;
  top: -0.6vw;
  left: -0.5vw;
  width: 1vw;
  height: 1vw;
}

#page4 .car {
  position: absolute;
  top: 34.5vw;
  left: 38.5vw;
  width: 7%;
  display: none;
}

#page4 .flag-2 {
  width: 100%;
  margin-top: 57.8vw;
}

#page4 .travel {
  position: absolute;
  font-family: 'Nixie One', cursive;
  color: #f2f2f2;
  font-size: 2vw;
  top: 62.5vw;
  left: 22.4vw;
  width: 55vw;
  height: 5vw;
}

#page4 nav ul {
  list-style: none;
  position: absolute;
  top: 30vw;
  right: 10vw;
}

#page4 nav li a {
  display: block;
  margin-bottom: 2.5vw;
  border: 0.3vw solid #f2f2f2;
  border-radius: 100%;
  width: 1.4vw;
  height: 1.4vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#page4 nav li.active a, #page4 nav li:hover a {
  background-color: #f2f2f2;
}


